**{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#16110D;
    color:#F5E7C6;
    font-family:'Sora',sans-serif;
}

header{
    width:100%;
    padding:10px;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
}

.logo{
    height:200px;
}

.titulo{
    display:flex;
    flex-direction:column;
}

.titulo h1{
    color:#D8A23A;
    font-size:42px;
    font-weight:800;
}

.titulo span{
    font-size:18px;
    letter-spacing:4px;
    color:#F5E7C6;
}

.painel{
    width:90%;
    margin:40px auto;
}

table{

    width:100%;
    border-collapse:collapse;

    background:#352015;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 0 20px rgba(0,0,0,.4);

}

thead{

    background:#D8A23A;

    color:#1A120C;

}

th{

    padding:18px;

    font-size:22px;

}

td{

    padding:16px;

    font-size:20px;

    border-bottom:1px solid rgba(245,231,198,.08);

}

tbody tr:hover{

    background:#4A2A18;

}

td:nth-child(1){

    width:80px;
    text-align:center;

}

td:nth-child(3){

    text-align:right;
    font-weight:bold;
    color:#E67E22;

}

footer{

    text-align:center;

    padding:20px;

    opacity:.8;
    color:#C9B28A;

}
